a:link {
    color: #00324f;
}

a:visited {
    color: #185380;
}

nav a:hover {
    color: #ffffff;
    background-color: #00324f;
}

body {
    color: #00324f;
    background-color: #ffffff;
}

p {background-color: #f9cd2c;}

nav a {
    color: #185380;
}

nav {padding: 10px}

nav {margin-bottom: 30px}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img {
    max-width: 100%;
}

.part3 {
    flex-wrap: wrap;
}

span {
    display:none;
}

th {
    font-size: 25px;
}

p {
    font-size: 25px;
}

