
nav a:hover {
    color: aliceblue;
    background-color: #020750;
}

body {font-family: 'Raleway', sans-serif;
    color: #020750;
    background-color: #e0280f;
}

p {font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: aliceblue;
    background-color: #e0280f;}   

nav {float: right;
    color: #020750;
    padding: 10px}

nav {margin-bottom: 30px}


h1 {font-family: 'Raleway', sans-serif;
    float: left; 
    margin-right: 10px; 
    font-size: 35px; 
    color: #020750;}



.clear {clear:both}

footer {
    float:right;
}


.account {
    display:flexbox;
    text-align: center;
    margin-bottom: 100px;
}

.posts {
    margin-left: 500px;
}

.banner {
    padding-bottom: 50px;
}