a:link {
    color: #00324f;
}

a:visited {
    color: #185380;
}

nav a:hover {
    color: #cf3d29;
    background-color: #00324f;
}

body {
    color: #00324f;
    background-color: #cf3d29;
}

p {background-color: #f9cd2c;}

nav a {
    color: #185380;
}

nav {padding: 10px}

nav {margin-bottom: 30px}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.info{
    float: left;
}
.links{
    float: left;
}