h1 {
    color: #ff0000;
    /* hex color requires the pound sign*/
    /*six digits starting with red, then green, then blue*/
}

/* these three selectors are psuedo selectors*/
/* colon separates the selector from its state*/

a:link {
    color: #000dff;
}

a:visited {
    color: #00ff00;
}

a:hover {
    color: #8000ff;
    background-color: #00eeff;
}

.lookdifferent:hover {color: #999999;}
/* above uses a class selector with the psuedo state*/

body {
    background-image: url(../images/linkedin-image.svg);
    background-size: 50%;
    background-color: #c9c9ab;
}
/* background color for entire page*/

p {background-color: #f78000;}